<!DOCTYPE>
<html lang = "en">
<head>

	<meta charset="UTF-8">
	<meta name="description" content="Portfolio Web Page">
	<meta name="keywords" content="HTML5, CSS3, JavaScript">
	<meta name="author" content="M Badri Narayanan">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>My Web Page</title>
	<link rel="icon" type="image/x-icon" href="images/favicon.ico" />
	<link rel="stylesheet" href="./style.css">
<body>

		<h1 style="text-align:center">M Badri Narayanan</h1>

		<img src = "./Profile.png" alt = "My Profile Picture" usemap="#profile" height = "200" width = "200"></img><br>

		<map name="profile">
		  	<area shape = "rect" coords="0,0,100,100" alt = "My GitHub Profile" href="https://github.com/MBadriNarayanan" target="_blank">
		  	<area shape = "rect" coords="100,100,200,200" alt = "My LinkedIn Profile" href="https://www.linkedin.com/in/mbadrinarayanan" target="_blank">
		</map>

	<h3>My Social Networking Sites</h3>
		<ol>
			<li><a href="https://github.com/MBadriNarayanan" target="_blank">GitHub</span></a></li>
			<li><a href="https://www.linkedin.com/in/mbadrinarayanan" target="_blank">LinkedIn</a></li>
		</ol>

		<h3>Summary</h3>

		<p class = "static">I am currently pursuing my bachelors in Information Technology from SSN College of Engineering, Chennai. I am interested in the fields of Machine Learning , Deep Learning, Natural Language Processing, Computer Vision and Data Science.I would like to work in the aforementioned fields and develop real world solutions. I am also an avid sports fan and my hobbies include playing cricket, listening to music, watching movies and reading books.</p>

		<a href = #EducationDetails>My Education Details</a><br>
		<a href = #ExtraCurricular>Extra Curricular</a><br>
		<a href = #Awards>Awards</a><br>
		<a href = #Contact>Contact Form</a><br>


		<a name = "EducationDetails"></a>
		<h4>My Education Details</h4>
		<table border="1" allign="left" width="40%">
			<tr><td>College / School</td><td>Grade</td><td>Marks Obtained</td></tr>
			<tr><td>SSN College of Engineering, Chennai</td><td>BTech Information Technology</td><td>Current GPA : 8.828 (V Semester)</td></tr>
			<tr><td>Vidya Mandir Senior Secondary School, Chennai</td><td>12<sup>th</sup> Grade, Computer Science Group</td><td>94.4 %</td></tr>
			<tr><td>Vidya Mandir Senior Secondary School, Chennai</td><td>10<sup>th</sup> Grade</td><td>8.8</td></tr>
		</table>

		<a name = "ExtraCurricular"></a>
		<h4>Extra Curricular</h4>
		<ul>
			<li>Volunteering with Chennai Volunteers to teach spoken English classes for Tamil medium students.</li>
			<li>Captained the school cricket team</li>
			<li>Represented the college cricket team</li>
		</ul>

		<a name = "Awards"></a>
		<h4>Awards</h4>
		<ul>
			<li>Won the 2<sup>nd</sup> best project in Computer Science in 12<sup>th</sup> grade.</li>
			<li>Stood school 3<sup>rd</sup> in Chemistry in 12<sup>th</sup> grade.</li>
		</ul>

		<a name = "Contact"></a>
		<h2>Contact Form</h2>
		<a href = "/contact" target="_blank">Click here to view the contact form.</a>
</body>
</html>